# Banco de dados PostgreSQL
DATABASE_URL=postgresql://usuario:senha@localhost:5432/mini-heroku

# Chave secreta para geração de tokens JWT
# Você pode gerar uma com: python -c "import secrets; print(secrets.token_urlsafe(32))"
SECRET_KEY=sua_chave_secreta_aqui

# Algoritmo de criptografia para JWT
ALGORITHM=HS256
